/************************************************************
***     ___           ____   _  __   _  __   ____   _  __ ***
***    / _ )  __ __  / __/  / |/ /  / |/ /  / __/  / |/ / ***
***   / _  | / // / / _/   /    /  /    /  / _/   /    /  ***
***  /____/  \_, / /___/  /_/|_/  /_/|_/  /___/  /_/|_/   ***
***         /___/                                         ***
*************************************************************
*****ByENNEN, LLC. Lance Ennen: byennen@gmail.com************
************************************************************/


/* = GENERAL *******************************************************/

.clear {  clear: both; }

.clear:after, .container:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

* html .clear { height: 1%; }

hr {
	background: #000;
	color: #000;
	clear: both;
	float: none;
	width: 100%;
	height: 0.1em;
	margin: 0 0 1.4em 0;
	border: none;
}

* html hr { margin: 0 0 1.2em 0; } /* IE6 fix */

.blue { 
	color: rgb(21, 158, 196) !important;
	text-shadow: 0px 1px 0px #fff;
}

/* =HEADER *********************************************************/

div#header {
	height: 80px;
}

div#header h1 a {
	float: left;
	margin: 2px 0 0 100px;
	padding: 0;
	width: 342px;
	height: 101px;
	background:#000 url(/images/main/logo.png) no-repeat;
}

div#header h1 a span { display: none; }