<div style="width:100%;background:url(/images/main/footer_background_repeat.png) repeat-x;">
	<div id="footer">
		<p style="position:relative;top:215px;padding:0 0 10px 0;">&copy; 2009 Windy City Watersports, LLC. &nbsp;|&nbsp; <%= link_to_remote "About Us", :url => {:controller => :pages, :action => :about },
		:update => :main_content, :failure => "alert('HTTP Error ' + request.status + '!')"  -%> &nbsp;|&nbsp;
			<a href="#">Advertise with Us</a> &nbsp;|&nbsp; <a href="http://www.chicagoparkdistrict.com/">Licensed by the Chicago Park District</a>
		</p>
	</div>
</div>