<div style="width:100%;background:url(/images/main/footer_background_repeat.png) repeat-x;">
	<div id="footer">
		<p style="position:relative;top:215px;padding:0 0 10px 0;">&copy; 2009 Windy City Watersports, LLC. &nbsp;|&nbsp; <a href="#">Privacy Statement</a> &nbsp;|&nbsp;
			<a href="#">Advertise with Us</a> &nbsp;|&nbsp; <a href="#">Approved by the Chicago Park District</a>
		</p>
	</div>
</div>