<!-- slideshow background -->
<div style="background:url(/images/main/main_background.png) no-repeat;width:1023px;height:444px;margin:40px 0 0 0;position:relative;">
	
	<!-- menu -->
		<%= render :partial => 'shared/menu' %>
	<!-- end of menu -->
	
	<!-- slideshow -->
	<%= render :partial => 'shared/slideshow' %>
	<!-- end of slideshow -->
	
	<!-- news ticker -->
	<%= render :partial => 'shared/news_ticker' %>
	<!-- end of news ticker -->
	
</div>
<!-- end of slideshow background -->

<!-- main content -->
<div id="content_container" style="clear:both;width:870px;position:relative;top:-45px;left:90px;">
	<div id="inside_content_container" style="padding:10px;">
		<div id="main_content">
			<%#= render :partial => 'pages/home'%>
		</div>
	</div>	
</div>
<!-- end of main content -->