<div style="position:absolute;left:215px;top:361px;text-transform: uppercase;text-decoration: none; text-shadow: #fff 0 1px 0;font-size: 17px;">
	<div style="padding:5px;">
		<!-- <ul id="news">  
			<li><a href="#n1" class="greybox">Coupon 1</a></li>
			<li><a href="#n2" class="greybox">Coupon 2</a></li>
			<li><a href="#n3" class="greybox">Coupon 3</a></li>
		</ul> -->
		<div style="text-align:center;margin:0 auto;color:blue;margin:0 0 0 165px;"><a href="#n1" class="greybox">Coupon Here Coming Soon!</a></div>
	</div>
</div>
