<p width="100%" align="center">
	<embed pluginspage="http://www.adobe.com/go/getflashplayer" src="http://www.yourminis.com/Dir/GetContainer.api?uri=yourminis/yourminis/mini:weather"  wmode="transparent" width="250" height="80" FlashVars="textcolor=0&view=minimal&cr=10&color=15065334&loc=Chicago%2C%20IL%20%2860613%29&unit=s&zipcode=60640&title=Weather%20%2860613%29&mininame=weather&height=70&width=240&xheight=80&xwidth=250&uri=yourminis%2Fyourminis%2Fmini%3Aweather&swfurl=%2Fwidget%5Fweatherchannel%2Eswf&" type="application/x-shockwave-flash" allowScriptAccess="always"></embed>
	<br />
</p>