<h2>About Us</h2>

<p>With a focus on safety, Windy City Watersports has expanded the role of watercraft rentals on the Chicago lakefront. The Chicago Park District and Park Concession Management have built a vibrant, healthy, and enjoyable public experience on the Chicago beaches and we are pleased to play a role as purveyors of summertime beach activities in the greatest city in the world, Chicago. We look forward to renting you a waverunner, putting an umbrella in the sand, and having some fun in the sun!</p>       


<p>Located at Montrose Beach, we are located directly in the heart of downtown Chicago. We offer the only waverunner rental experience on the City's beaches. Montrose Beach has plenty of food, tons of people, a dog beach, and most importantly... Montrose Beach has waverunner rentals!!</p>

<p>As a tourist center, Chicago is a thriving summertime experience. All of the Chicago beaches become their own events as the sun shines down throughout the summer. Activities abound, and it is our hope that you will come visit us.</p>