<div style="height:220px;">

	<div class="left_col" style="position:absolute;top:20px;left:20px;">

		<h2>Holidays</h2>
		<p>Half hour rental = $75</p>
		<p>Full hour rental = $125</p>
		<p>Call for half day and full day pricing</p>
		<p>Guided tours available, call for pricing</p>
		<p>Remember to look at our available coupon offers!</p>
		
	</div>

	<div class="right_col" style="position:absolute;top:20px;left:350px;">
		<img src="/images/waverunners/3.jpg" width="500px" height="210px" />
	</div>
</div>