<h2>Home</h2>
<p>   1. Go get some free music. Make sure your iPhone/touch is online. Then, from the main menu, click on Free Tracks to find 200-odd FREE tracks. Check back frequently: every Thursday we feature a new free smash hit.
   2. Game basics. Tap Tap Revenge is about tapping and shaking to the beat. You TAP when the balls hit the target zone at the bottom of the screen. When you see an arrow come down, SHAKE to the beat as the arrow hits the target. Shake it like you would hit a drum stick - left, forward, or right.

That’s about it.  Not too bad, right? Tap Tap Revenge is about having fun with tracks you dig.
The “advanced” stuff

   1. Don’t forget to Submit your scores to our leaderboards. The first time you click on the Leaderboard button, we’ll prompt you to automatically submit your scores for you. We’ll also prompt you to set up a “Tapulous account” - eg give yourself a nickname.
   2. After you’ve played a song, you can Challenge your friends to beat you at the game you just played. Just click on the Challenge button in the post-game screen. We’ll take you into the email app, and there you can type in the email address of any of your friends who have (or should have) Tap Tap Revenge. If you know the Tapulous nickname of</p>