<h2>What you are required to bring:</h2>

<p>-Valid driver's license or state ID (must be over 18 years of age) </p>

<p>-Credit Card (MC, VISA, AMEX, DISCOVER)</p>

<p>And, a friendly reminder:</p>

<p>Obviously you are going to get wet so wear a swim suit, have a set of clothes to change into after your ride is over, and bring a towel.</p>

<p>Lockers are provided at the main beach house.</p>