<div style="height:280px;">

	<div class="left_col" style="position:absolute;top:20px;left:20px;">

		<h2>Locations</h2>
		
		<p>200 West Montrose Harbor Drive</p>
		<p>Montrose Beach</p>
		<p>Chicago, IL 60640</p>
		
		<br/>

		<b>Phone and email:</b>
		<p><a href="mailto:info@windycitywatersports.com">info@windycitywatersports.com</a></p>
		<p>(312) 278 - 3316</p>
	</div>

	<div class="right_col" style="position:absolute;top:20px;left:250px;">
		<a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=W+Montrose+Harbor+Dr,+Chicago,+IL+60640,+United+States&sll=41.960622,-87.636703&sspn=0.009925,0.02178&ie=UTF8&ll=41.962745,-87.636545&spn=0.009924,0.02178&t=h&z=16" target="_blank"><img src="/images/main/map.png" /></a>
	</div>
</div>