<div style="height:200px;">

	<div class="left_col" style="position:absolute;top:20px;left:20px;">

		<h2>Rules and Regulations</h2>
		
		<p>-All riders must be 18 years of age or older</p>

		<p>-A valid credit card must be provided prior to every ride</p>

		<p>-A valid state issued ID must be provided by all riders prior to their ride</p>

		<p>-Zero tolerance, no alcohol</p>

		<p>-All riders must adhere to rules</p>

	</div>

	<div class="right_col" style="position:absolute;top:20px;left:500px;">
		<img src="/images/main/no_beer.jpg" width="100px" height="100px" />
		
		<img src="/images/main/id.png" />
	</div>
</div>