<div style="height:220px;">

	<div class="left_col" style="position:absolute;top:20px;left:20px;">

		<h2>Waverunner Fleet</h2>
			

			<ul>
				<li>The VX™ Sport is powered by a Yamaha MR-1™ four-stroke engine. This is a compact, ultra-lightweight, four-cylinder, 1052cc, DOHC, 20-valve, liquid-cooled engine for class-leading performance.</li>
				<li>Offers families the best in reliability, durability and fuel economy.</li>
				<li>The VX Sport has a longer seat for an extra roomy feel and the same extended rear platform as the rest of the VX lineup, so you always have a place to relax and hang out between rides.</li>
				<li>World renowned Yamaha reliability makes this waverunner the number one choice of rental operators everywhere.</li>
				<li>The VXTM Sport is powered by a Yamaha MR-1TM four-stroke engine. This is a compact, ultra-lightweight, four-cylinder, 1052cc, DOHC, 20-valve, liquid-cooled engine for class-leading performance.</li>
				
			</ul>

	</div>

	<!-- <div class="right_col" style="position:absolute;top:20px;left:350px;">
		<img src="/images/waverunners/1.jpg" width="500px" height="210px" />
	</div> -->
	
	<!-- <p style="position:relative;top:1000px;">Sporty yet practical, the 2009 Yamaha VX Sport shows off the dual aspects of its personality with a sturdy black hull, dynamic performance and outstanding dependability. It is sure to cut a stylish figure against the blue sky and water. The combination of the VX hull, with its light handling feel, running stability, and the four-stroke 1052cc engine with its outstanding reliability and durability, makes this model the popular favorite for all kinds. This VX Sport embodies the WaveRunner qualities that open up a world of "Fun Riding" and "Excitement." Let it take you to that world of fun and freedom on the water.</p> -->
</div>